In [1]:
for i in range(1,6):
    print('*i*')

*
**
***
****
*****

In [2]:
for i in range (1,6):
    num=str(i)
    print(num*i)

1
22
333
4444
55555

In [6]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [7]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j+i,end='')
    print()

2
34
456
5678
678910

In [8]:
for i in range(1,6):
    for j in range(1,i+1):
        if (i+j)%2==0:
            print(1,end='')
        else:
            print(0,end='')
    print()

1
01
101
0101
10101

In [9]:
n=0
for i in range(1,6):
    for j in range(1,i+1):
        n=n+1
        print(n,end='')
    print()

1
23
456
78910
1112131415

In [10]:
for i in range(5,-1,-1):
    for j in range(5,i,-1):
        print(j,end='')
    print()

5
54
543
5432
54321

In [11]:
i=1
n=5
while i<=5:
    s=str(n)*i
    print(s)
    i=i+1
    n=n-1

5
44
333
2222
11111

In [12]:
i=5
while i>=1:
    s='*'*i
    print(s)
    i=i-1

*****
****
***
**
*

In [13]:
i=5
n=1
while i>=1:
    s=str(n)*i
    print(s)
    if i<=5//2+1:
        n=n-1
    else:
        n=n+1
    i=i-1

11111
2222
333
22
1

In [14]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end='')
    print()

12345
1234
123
12
1

In [15]:
i=5
n=5
while i>=1:
    s=str(n)*i
    print(s)
    i=i-1
    n=n-1

55555
4444
333
22
1

In [16]:
for i in range(0,5):
    for j in range(5,i,-1):
        print(j,end='')
    print()

54321
5432
543
54
5

In [17]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))

    *
   ***
  *****
 *******
*********

In [18]:
n=1
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n+1

    1
   222
  33333
 4444444
555555555

In [19]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))

    1
   123
  12345
 1234567
123456789

In [20]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+'* '
    print(s.center(20))

         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *